<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.pojo.Student" name="student1">
        <property name="studentId">
            <value>101</value>
        </property>
        <property name="StudentName">
            <value>Rishikesh Shinde</value>
        </property>
        <property name="studentCity">
            <value>Pune</value>
        </property>
    </bean>

    <bean class="com.pojo.Student" name="student2">
        <property name="studentId" value="102" />

        <property name="studentName" value="Krishna Dudhate" />

        <property name="studentCity" value="Parbhani"/>

    </bean>


</beans>
